body {
  margin: 0 auto;
  max-width: 50em;
}

body {
  font-family: "Helvetica", "Arial", sans-serif;
}

body {
  line-height: 1.5;
  padding: 4em 1em;
  padding-top: 24px;
}

h2 {
  margin-top: 1em;
  padding-top: 1em;
  text-align: center;
}

#title {
    text-align: center;
    font-family: "Arial", sans-serif;
}

.row {
    width: 100%;
}

img {
    display: block;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.flex-container {
  display: flex;
}

.column {
  flex: 1;
}

.column p {
  text-align: center;
}

.small {
  font-size: 0.8em;
}
