body {
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  color: #555;
  padding: 4em 1em;
}

#content {
  max-width: 38rem;
  padding: 2rem;
  margin: auto;
}

h2 {
  margin-top: 1em;
  padding-top: 1em;
}

h1, h2, strong {
  color: #333;
}
